<html>  
	<head>  
		<script type = "text/javascript" src="function.js"></script>  
	</head>  
	<body>  
		<p>Click the following button to see the function in action</p>  
		<input type = "button" onclick = "myfunction()" value = "Display">
		<input type = "button" onclick = "httpGet('${api_endpoint}')" value = "Request">  
	</body>  
</html>  